doctype html
html
  head
    title
    title Create Issue
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/create-issue.css')

  body
    include includes/head.pug
    
    .form
      form(action='/projects/' + project_id + '?_method=PUT', method='POST')
        .custom-header
          | Edit Project
        .form-group
          label(for='projectName') Name of Project
          input.form-control(type='text', placeholder='Enter project name', name="projectName", value=detail.name, required)
        .form-group
          label(for='head-usr') Head Username
          div
            input#headId(list='available-usernames', name='headUsr', required, autocomplete="off", value=headUsername)
            datalist#available-usernames
              -for(var i=0; i<users.length; i++)
                option(value=users[i].username)
        .form-group
          label(for='summary')
            | Summary 
            small.text-muted (max 200 characters)
          textarea.form-control(rows='3', maxlength='200', title='maximum 200 characters', name="summary", required)= detail.summary
        .form-group
          label(for='status')  Status
          select.form-control(name='status')
            option(value='NEW', selected = detail.status==1) NEW
            option(value='OPEN', selected = detail.status==2) OPEN
            option(value='INPROGRESS', selected = detail.status==3) IN PROGRESS
            option(value='COMPLETED', selected = detail.status==4) COMPLETED
            option(value='ONHOLD', selected = detail.status==5) ON HOLD
        .form-group
          label(for='end-date')  End date 
          input(type='date', name="endDate", value=end_date)
        button.btn.btn-primary(type='submit') Submit
