doctype html
html
  head
    title Dashboard
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/issue-info.css')


  body
    include includes/head.pug
    

    .main
      .info
        .header
          | Issue Details
        
        .body
          p.left
            span.wt Assigned To: 
            span= assigned_user
          p.right
            span.wt Reported by: 
            span= open_user
          p.left
            span.wt ID: 
            span= issue[0].id
          p.right
            span.wt Project ID: 
            span
              a(href='/projects/' + issue[0].project_id)= issue[0].project_id
          p.left
            span.wt Status: 
            span= issue[0].status
          p.right
            span.wt Priority: 
            span= issue[0].priority
          p.cntr
            span.wt Report date: 
            span= issue[0].open_date
        
          .summary-head.wt Summary : 
          p.summary= issue[0].summary
        
          .summary-head.wt
            | Description : 
            if(issue[0].description == 1)
              a(href='/issues/' + issue[0].id + '/description', target='_blank') File
            else
              span= '[No description available]'
          
            - if(isAuthenticated && (isHead || isAdmin))
              a#edit.btn.btn-warning(href='/issues/' + issue[0].id + '/edit') Edit Issue