doctype html
html
  head
    title Issue Info
    link(rel="icon", href="/icons/bug.png")
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/issue-info.css')


  body
    include includes/head.pug
    

    .main
      .info
        .header
          | Issue Details
        
        .body
          p.left
            span.wt Assigned To: 
            span= assigned_user
          p.right
            span.wt Reported by: 
            span= open_user
          p.left
            span.wt ID: 
            span= issue[0].id
          p.right
            span.wt Project ID: 
            span
              a(href='/projects/' + issue[0].project_id)= issue[0].project_id
          p.left
            span.wt Status: 
            span= issue[0].status
          p.right
            span.wt Priority: 
            span= issue[0].priority
          p.cntr
            span.wt Report date: 
            span= issue[0].open_date
        
          .summary-head.wt Summary : 
          p.summary= issue[0].summary
        
          .summary-head.wt
            | Description : 
            if(issue[0].description == 1)
              a(href='/issues/' + issue[0].id + '/description', target='_blank') File
            else
              span= '[No description available]'
          
          - if(isAuthenticated && (isHead || isAdmin || isAssigned))
            a#mybtn.btn.btn-primary(href='/issues/' + issue[0].id + '/edit') Edit
          - if(isAuthenticated && (isHead || isAdmin))
            button#mybtn.btn.btn-danger(type='button', data-toggle='modal', data-target='#exampleModalCenter')= 'Delete'

        // Modal
        #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
          .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLongTitle.modal-title Delete Issue
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body= "Are you sure you want to delete this issue and all related data"
              .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                form#confirmForm(action='/issues/' + issue[0].id + '?_method=DELETE', method='POST')
                  button.btn.btn-danger(type='submit') Confirm

    include includes/footer.pug

  script(type='text/javascript', src='/bootstrap/js/jquery-3.5.1.slim.min.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.bundle.min.js')