doctype html
html
  head
    title Issues
    link(rel="icon", href="/icons/bug.png")
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/issues.css')

    script(type='text/javascript').
      document.getElementById('search')
        .addEventListener('keyup', function(event) {
          if (event.code === 'Enter') {
            event.preventDefault();
            document.querySelector('form').submit();
          }
        });
  

  body
    include includes/head.pug
    
    
    .main.h-100

      - if(!notShow)
        .project
          div= 'Project - ' + project_name + ' ( id: ' + project_id + ')'

      .container-fluid.h-100
        .row.h-100
          .col-xs-12.col-md-12
            .card.card-custom
              .card-header.header-custom
                img.align-center(src='/icons/list-ul.svg', width='30', height='30', alt='')
                | 					    		Get Issue By Id
                if(srch)
                  .search
                    form.form-inline(action='/issues/search', method='GET')
                      .form-group
                        input#search.form-control(type='text', name='search', placeholder='#issueID')
                        input.btn.btn-dark(type='submit', value='Search')
                else
                  a#redirect(href="/issues")= 'Search by id'
              .card-body.zero-pad
                table.data-table
                  thead
                    tr
                      th Id
                      th Status
                      th Priority
                      th Summary
                  tbody 
                    each issue in issues
                      tr
                        td
                          a(href='/issues/' + issue.id, target='_blank')= issue.id
                        td= issue.status
                        td= issue.priority
                        td= issue.summary

    include includes/footer.pug