doctype html
html
  head
    title Profile
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="icon", href="/icons/bug.png")
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/profile.css')


  body
    include includes/head.pug

    .main.h-100
      .container-fluid.h-100
        .row.h-100.custom
          .col-lg-12.my-5
            ul#myTab.nav.nav-tabs(role='tablist')
              li.nav-item
                a#profile-tab.nav-link.active(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='true') Profile
              li.nav-item
                a#edit-tab.nav-link(data-toggle='tab', href='#edit', role='tab', aria-controls='edit', aria-selected='false') Edit
            
            .tab-content
              #profile.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='profile-tab')
                h4.my-3 User Profile
                .row.mt-4
                  .col-xs-12.col-md-6.mx-auto
                    img.img-fluid.rounded-circle.my-3.palign(src='/icons/profile.jpg', alt='avatar')
                  .col-md-12.cntr.detail
                    div
                      | Username: 
                      span= username
                    div
                      | Email: 
                      span= email
                    div
                      | Name: 
                      span= name
              
              - const message = "Must contain at least 1 number, 1 uppercase and lowercase letter, and at least 8 or more characters"
              - const format = "(^$)|((?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,})"

              #edit.tab-pane.fade(role='tabpanel', aria-labelledby='edit-tab')
                h4.my-3 Edit Profile
                form(role='form', action='/profile' + '?_method=PUT', method='POST', oninput='password2.setCustomValidity(password2.value != password1.value ? "Passwords do not match." : "")')
                  //- .form-group.row
                    label.col-lg-3.col-form-label.form-control-label Profile Pic
                    .col-lg-9
                      input#file(type='file')
                  .form-group.row
                    label.col-lg-3.col-form-label.form-control-label Name
                    .col-lg-9
                      input.form-control(type='text', value = name, name='personName')
                  .form-group.row
                    label.col-lg-3.col-form-label.form-control-label Email
                    .col-lg-9
                      input.form-control(type='email', value = email, disabled)
                  .form-group.row
                    label.col-lg-3.col-form-label.form-control-label Username
                    .col-lg-9
                      input.form-control(type='text', value = username, disabled)
                  .form-group.row
                    label.col-lg-3.col-form-label.form-control-label New Password
                    .col-lg-9
                      input.form-control(type='password', name='password1', pattern=format, title=message)
                      small.text-muted Leave Password field empty if don't want to change | New Password: Must contain at least 1 number, 1 uppercase and lowercase letter, and length>=8
                  .form-group.row
                    label.col-lg-3.col-form-label.form-control-label Confirm password
                    .col-lg-9
                      input.form-control(type='password', name='password2')
                  .form-group.row
                    label.col-lg-3.col-form-label.form-control-label
                    .col-lg-9
                      input.btn.btn-secondary(type='reset', value='Cancel')
                      input.btn.btn-primary(type='submit', value='Save Changes')
    
    include includes/footer.pug