doctype html
html
  head
    title Project
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/head.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/projects.css')

  
  body
    include includes/head.pug
    

    .main.h-100

      -if(isAuthenticated && isAdmin)
        .new-prj
          a.btn.btn-success(href='/projects/new') New Project

      .container-fluid.h-100
        .row.h-100
          .col-xs-12.col-md-6

            -var max = projects.length
            -for(var i=0; i<max; i+=2){
              .card.card-custom
                .card-body
                  h5.card-title.cntr(title='Project Name')= projects[i].name
                  .details
                    div(title='Project ID')= 'ID: ' + projects[i].projectId
                    div(title='Project Head ID')= 'Head: ' + projects[i].username
                  div.cntr(title='Project Status')= 'Status: ' + project_status
                  p.card-text.cntr= projects[i].summary
                  .cntr
                    a.btn.btn-primary(href=`/projects/` + projects[i].projectId) Explore
                    -if(isAuthenticated && isAdmin)
                      a.btn.btn-primary(href=`/projects/` + projects[i].projectId + '/edit') Edit
            -}
            

          .col-xs-12.col-md-6

            -var max = projects.length
            -for(var i=1; i<max; i+=2){
              .card.card-custom
                .card-body
                  h5.card-title.cntr(title='Project Name')= projects[i].name
                  .details
                    div(title='Project ID')= 'ID: ' + projects[i].projectId
                    div(title='Project Head ID')= 'Head: ' + projects[i].username
                  div.cntr(title='Project Status')= 'Status: ' + project_status
                  p.card-text.cntr= projects[i].summary
                  .cntr
                    a.btn.btn-primary(href=`/projects/`+projects[i].projectId) Explore
                    -if(isAuthenticated && isAdmin)
                      a.btn.btn-primary(href=`/projects/` + projects[i].projectId + '/edit') Edit
            -}
